.table__conf {
  display: flex;
}

.padding__table {
  padding: 0.5rem;
}

.header__table{
  color: #3f51b5;
}



.tabla__spinner__container {
  position: relative;
}

.spinner__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Asegúrate de que el z-index del spinner sea mayor que el de la tabla */
  /* Estilos del spinner, por ejemplo, un spinner con CSS o un gif animado */
}


table__data {
  z-index: 0; /* Asegúrate de que el z-index de la tabla sea menor que el del spinner */
  /* Estilos de la tabla */
  width: 100%;
  opacity: 0.35;
  /* Otros estilos de la tabla */
}
